<!-- Services Section -->
<script src="{{ "/js/echarts.min.js" | prepend: site.baseurl }}"></script>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">相关技能</h2>
                    <h3 class="section-subheading text-muted">工作多年来，仍是一枚小菜鸡，自认为需要努力的地方还有很多，欢迎大家前来指点.</h3>
                </div>
            </div>
            <div class="row text-center">
                <!-- <div class="col-md-4">         
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-brands fa-slack fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">基本掌握</h4>
                    <p class="text-muted">
                        JSP、Servlet、JavaBean、JDBC、SpringMVC、SpringBoot、Mybatis、Oracle、Mysql、hive、etl 、Linux、HTML、CSS、JavaScript，jQuery、InfoPath、Axure 、Maven 、Git、Excel、Word、PPT、Visio、Photoshop

                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-pen fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">正在学习</h4>
                    <p class="text-muted">
                        VUE、Node、Pythno、UI设计
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-light fa-sparkles fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">未来规划</h4>
                    <p class="text-muted">项目管理</p>
                </div> -->

                <div class="echart" style="width:500px; height:500px">
                    <div class="chart">
 
                    </div>
                </div>
            </div>
        </div>
    </section>